html{
  font-size: 62.5%;
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
}

body{
  box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.wrapper{
  width: 77rem;
  margin: 0 auto;
}

@media(min-width: 1280px) {
  .wrapper{
    width: auto;
    max-width: 115rem;
  }
}

.form-input{
  overflow-y: overlay;
  font-size: 1.6rem;
}
@media(min-width: 1280px) {
  .form-input{
    /* width: 4; */
    min-height: 100vh;
    width: 36.6rem;
    float: left;
    /* display: inline-block; */
    /* background-color: #f0f0f0; */
  }
  
  .css-output{
    margin: 1rem 0;
  }

  .graph{
    /* padding: 2rem 0; */
    margin-left: 1rem;
  }

  .graph,
  .css-output{
    /* float: left; */
    display: inline-block;
  }
  .css-output{
    /* width: 68%; */
    width: 77rem;
    margin-left: 1rem;
  }
}

.css-output{
  font-size: 1.8rem;
  line-height: 3.6rem;
  /* font-weight: bold; */
  /* font-weight: 600; */
  margin: 0;
  width: 100%;

  padding: 2rem;
  /* background-color: #6D6D6D;
  color: white; */
  color: rgb(74, 88, 117);

  border-radius: 1rem;

  background-color: #f0f0f0;
  /* border: 2px solid #0e3164; */
  /* box-shadow: 0 15px 15px rgba(0, 0, 0, .2); */
  /* margin-top: 3rem; */

  overflow-x: auto;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}

.css-output .mb{
  padding-bottom: 2rem;
  /* line-height: 3rem; */
  display: inline-block;
}

.css-output .func{
  /* color: rgb(39, 129, 214); */
  color: rgb(255, 21, 0);
  font-weight: bold;
}
.css-output .at-rule{
  color: rgb(166, 38, 164);       /* OK */
}
.css-output .selec{
  color: rgb(66, 54, 71);       /* OK */
}
.css-output .prop{
  color: rgb(64, 120, 242);       /* OK */
}
.css-output .val{
  color: rgb(56, 58, 66);       /* OK */
}

.css-output-container{
  position: relative;
  /* background-color: red; */
  margin: 2rem 0 0 2rem;
  display: inline-block;
  width: 74rem;
}

.css-output-button{
  position: absolute;
  display: inline-block;
  height: 3.2rem;
  width: 3.2rem;
  top: 1rem;
  right: 1rem;
  cursor: pointer;

  border: none;
  background: transparent;
}
/* .css-output-button:hover{
  background: transparent;
} */

.css-output-clip{
  width: 100%;
  height: 100%;
  fill: #5c759b;
}

/* Fieldsets --- */
form > fieldset{
  padding: 2rem;
}
fieldset{
  border: none;
  padding: 1rem 0 3rem;
}
fieldset.blue + fieldset.blue{
  padding-top: 0;
}

fieldset.blue{
  background-color: #4791ff;
  color: white;
}

form > fieldset > legend{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
legend{
  float: left;
  margin-bottom: 1rem;
  width: 100%;
}
.disabled legend{
  color: #6D6D6D;
}


fieldset.blue > legend{
  color: #A3C8FF;
}

form > fieldset > legend{
  color: #6D6D6D;
}
form > fieldset > legend::after{
  content: "";
  margin-left: 1rem;
  border-bottom: 1px solid #a2a2a2;
  content: "";
  width: auto;
  height: 1px;
  /* background-color: red; */
  flex: 9999;
}
form > fieldset.blue > legend::after{
  border-color: #A3C8FF;
}
form > fieldset.collapsed > legend,
form > fieldset.expanded > legend{
  cursor: pointer;
}
form > fieldset.collapsed > legend::before,
form > fieldset.expanded > legend::before{
  content: "";
  width: 2rem;
  height: 1rem;
  margin-left: 1rem;
  order: 3;
  background: url('../svg/arrow-black.svg') no-repeat;
  /* background-repeat: no-repeat; */
  opacity: .7;
}
form > fieldset.collapsed.blue > legend::before,
form > fieldset.expanded.blue > legend::before{
  background: url('../svg/arrow.svg') no-repeat;
}
form > fieldset.collapsed > legend::before{
  transform: rotate(90deg);
}

form > fieldset.collapsed > legend ~ *{
  opacity: 0;
  position: absolute;
  left: -99999999rem;
  top: -99999999rem;
}

fieldset fieldset{
  padding: 0 0 2rem;
}

.input-option{
  display: inline-block;
  display: inline-flex;
  align-items: center;
  margin-bottom: 1rem;
}
.input-option:last-child{
  margin-bottom: 0;
}
.input-option > label{
  padding-left: 1rem;
}

/* Inputs ---*/
input[type="radio"]:disabled,
input[type="radio"]:disabled + label{
  cursor: default;
}
input[type="number"] { 
  -moz-appearance: textfield;
  appearance: textfield;
}
input[type="text"],
input[type="number"] {
  border: none;
  border-radius: .6rem;
  padding: 1rem;
  width: 5.2rem;
  font-size: 2rem;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}
.form-input input[type="number"]:focus{
  outline: none;
}
input[type="text"],
input[type="number"]{
  background-color: transparent;
  border: 1px solid black;
  /* color: white; */
}
.blue input[type="text"],
.blue input[type="number"]{
  /* background-color: white; */
  border-color: white;
  color: white;
}
input[type="text"]:disabled,
input[type="number"]:disabled,
input:disabled + label{
  /* background-color: #9ac2ff; */
  color: #dddddd;
  border-color: #dddddd;
}
.blue input[type="text"]:disabled,
.blue input[type="number"]:disabled,
.blue input:disabled + label{
  border-color: #68a4ff;
  color: #8fbcff;
}
input[type="text"] + label,
input[type="number"] + label{
  padding-left: 1rem;
}

input[type="text"]{
  margin-bottom: 2rem;
}

.invisible{
  position: absolute;
  left: -99999999999rem;
  top: -9999999999rem;
}

.size-pair{
  display: inline-block;
  width: 11rem;
  margin-right: 1rem;
  /* margin-bottom: 2rem; */
}

.size-pair input[type="number"]{
  padding: 1rem;
  border: none;
  width: 100%;
  height: 100%;
  font-size: 2.1rem;
  font-weight: bold;
  background-color: white;
  color: black;
}

#conversion-rate{
  width: 8.5rem;
}
#property-name,
#selector-name{
  width: 19.7rem;
}

.size-pair > label{
  position: relative;
}

.size-pair > label > span{
  position: absolute;
  color: #a3a3a3;
  right: .8rem;
  bottom: 0;
  /* transform: translateX(-50%); */
  pointer-events: none;
  font-size: 1.4rem;

  opacity: 0;
}

.size-pair > label:first-child > input{
  border-radius: .6rem .6rem 0 0;
  border-bottom: 1px solid #b3d1ff;
}
.size-pair > label:last-child > input{
  border-radius: 0 0 .6rem .6rem;
}

.unit-lists{
  display: inline-block;
  width: 4.6rem;
  vertical-align: top;
  /* background-color: red; */
  height: 9.2rem;
}
.unit-lists > select{
  font-size: 1.6rem;
  position: relative;
  margin: 1.2rem -.4rem;
  width: 100%;
  background: url('../svg/arrow.svg');
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: 100% 70%;

  background-color: transparent;
  cursor: pointer;
  border: none;
  color: white;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;       /* Remove default arrow */
}
.unit-lists > select > option{
  color: black;
}

.measure-icons{
  width: 4rem;
  fill: white;
  opacity: .5;
  display: inline-block;
  vertical-align: top;
}
.measure-icons svg{
  height: 3rem;
  width: 3rem;
  margin: .9rem 0 .1rem;
}

input[type="radio"]{
  position: absolute;
  visibility: hidden;
}
input[type="radio"] + label{
  /* position: relative; */
  font-size: 1.75rem;
  /* padding: 2rem; */
  display: inline-block;
  background-color: #E1E1E1;
  width: 33%;
  margin-right: -5px;
  cursor: pointer;
  text-align: center;
  padding: 1rem 0;
  /* height: 100%; */
}
input[type="radio"]:checked + label{
  background-color: #4791FF;
  color: white;
  cursor: default;
}
input[type="radio"]:disabled + label,
input[type="radio"]:disabled:checked + label{
  background-color: #f2f2f2;
  color: #bfbfbf;
}
input[type="radio"]:not(:disabled):checked + label:hover{
  background-color: #4791FF;
  color: white;
}
input[type="radio"]:not(:disabled) + label:hover{
  background-color: #eaeaea;
}
input[type="radio"] + label:first-of-type{
  border-radius: .6rem 0 0 .6rem;
}
input[type="radio"] + label:last-of-type{
  border-radius: 0 .6rem .6rem 0;
}

.checkbox-label-pair{
  /* width: 33%; */
  display: inline-block;
  display: inline-flex;
  align-items: center;
  width: 49%;

  padding-bottom: 2rem;
}
.row{
  width: 100%;
}
.checkbox-label-pair > label{
  /* width: 60%; */
}
input[type="checkbox"]{
  min-width: 2rem;
  min-height: 2rem;
  accent-color: #4791ff;
}
input[type="checkbox"] + label{
  padding-left: 1rem;
  /* width: 60%; */
}
